# requirements.txt for use by hf space
happytransformer
beautifulsoup4
pandas
st-annotated-text
errant
# git+https://github.com/aseifert/errant.git@feature/fix-spacy-model-loading
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0-py3-none-any.whl
